<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Student Management System</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Student Management System</h1>
        </div>
        <div class="container">
            
            <hr>
            <h2>Update Subject </h2>
            <form action="#" th:action="@{/saveSubject}" th:object="${subject}" method="POST">
                <!-- Add hidden form field to handle update -->
		<input type="hidden" th:field="*{id}" />
                <div class="mb-3 row">
                  <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" th:field="*{name}"
		placeholder="Subject Name" class="form-control">
                  </div>
                </div>
                <hr>
		<button type="submit" class="btn btn-info col-2"> Update Subject</button>
            </form>
            <hr>
            <div align="center">
            <a th:href = "@{/}" class="btn btn-primary btn-sm mb-3" > Back to Subject List</a>
            </div>
        </div>
             
    </body>
    
</html>

